@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on header height */
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgba(220, 38, 38, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #dc2626, #991b1b);
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  transition: background 0.2s ease, transform 0.2s ease;
  will-change: transform;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ef4444, #b91c1c);
  transform: scaleY(1.05);
}


